hostname = localhost:8083
password = test
verbose = true
tls = true
#certpath = $HOME/.golem
organization = example.org
conbuffersize=10

[master]
gomaxproc = 8
buffersize = 1000

[scribe]
target = localhost:8083

[worker]
masterhost = localhost:8083
processes = 2
buffersize = 1000

[mgodb]
server = example.systemsbiology.net
store = golemstore
port = 1000
user = user
password = password
