hostname = localhost:8083
password = test
verbose = true
tls = true
#certpath = $HOME/.golem
organization = example.org

[master]
buffersize = 1000

[scribe]
target = localhost:8083

[worker]
masterhost = localhost:8083
processes = 2

[mgodb]
server = example.systemsbiology.net
store = golemstore
jobcollection = jobs
taskcollection = tasks
port = 1000
user = user
password = password
